.card {
    width: 75%;
    background-color:  rgb(148, 144, 144);
    margin-left: 12.5%;
    border-collapse: collapse;
}
.card tbody tr:nth-child(even) {
    background-color: grey;
}
.ul {
    text-align: center;
    padding: 7%;
    color: #143b68;
}
.ul a{
    text-decoration: none;
    color: #143b68;
}
.button {
    border-radius: 25px;
    margin-top: 5px;
    padding:10px;
    background-color: black;
    width: fit-content;
}
.button:hover {
    background-color: grey;
}
.button a{
    color:white;
    text-decoration: none;
}
.col3{
    float: left;
    width:33%;
  }
.row{
    width: 100%;
}
.spacer{
    width: 1px;
    height: 1px;
}