.title a,
.title span {
  color: #143b68;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}
.summaryButton {
  border-radius: 25px;
  margin-top: 5px;
  padding:10px;
  background-color: #1857a0;
  width: fit-content;
  text-decoration-color: white ;
}
.summaryButton:hover {
  cursor: default;
} 
.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .title span {
    font-size: xx-large;
  }
  .description{
    font-size: large;
  }
}
