.title a,
.title span {
  color: #143b68;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}
.summaryButton {
  border-radius: 25px;
  margin-top: 5px;
  padding:10px;
  background-color: #1857a0;
  width: fit-content;
  text-decoration-color: white ;
}
.summaryButton:hover {
  background-color: grey;
  cursor:pointer;
  color: white
}
.summaryModal {
  background-color: rgb(90, 85, 85);
  border-radius: 25px;
  padding: 5%;

}
.summaryClose{
  float: right;
  width: 2%;
  background-color: rgb(255, 51, 0);
  border-radius: 25px;
 padding-left: 1%;
 padding-top:1%;
 padding-bottom:1%;
 padding-right: .1%;
 color: white;
}
.summaryClose:hover {
  cursor:pointer;
}
.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
.mature {
  background-color: rgb(170, 10, 10);
border-radius: 25px;
padding-left: .5%;
padding-top: .5%;
padding-bottom: .5%;
padding-right: 1.5%;
color: white;
width: .5%;
}
@media (max-width: 600px) {
  .title span {
    font-size: xx-large;
  }
  .description{
    font-size: large;
  }
  .mature {
    width: 11%;
    padding-left: 1.2%;
    padding-right: 0%;
    padding-top: 1.0%;
    padding-bottom: 1.0%;
  }
}
