
.nav {
  width: 97%;
  height: 50px;
  padding: 10px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
}

.nav ul {
  margin-left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav ul li:hover {
  background-color: grey;
}
.nav ul li a {
  margin: 5px 15px;
  color:#143b68;
  text-decoration: none;
}
.nav ul li{
  padding: 5%;
  background-color:#fff;
  border-radius: 25px;
  margin: 5%;
}
.nav h1 {

  margin-left: auto;
 
}
@media only screen and (max-width: 768px) {
  .nav h1{
    display:none;
  }
}
