.grid {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 3rem;
}

.card {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  margin: 6.5rem;
  margin-top: 0px;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: rgb(148, 144, 144);
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #1c487a;
  border-color: #17569e;
}

.card h2 {
  margin: 5px;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.card p {
  margin: 5px;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.card strong {
  margin: 5px;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.card div {
  margin: 5px;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.logo {
  height: 1em;
}
.Container {
  width:50%;
}
@media only screen and (max-width: 768px) {
  .card{
    width: 100%
  }
  .card p{
    display:none;
  }
}
