.grid {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 3rem;
}

.card {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: rgb(148, 144, 144);
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #1c487a;
  border-color: #17569e;
}

.card h2 {
  margin: 5px;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%
}
.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}
.Container {
  width:50%;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
